# Configuración general
DEBUG=True
SECRET_KEY=pon_una_clave_inventada_aqui_para_desarrollo
ALLOWED_HOSTS=*

# Base de datos PostgreSQL local
DB_NAME=sgtm_db
DB_USER=tu_usuario_de_postgres
DB_PASSWORD=tu_contraseña_de_postgres
DB_HOST=localhost
DB_PORT=5432

# Seguridad
SECURE_COOKIES=False