{% extends "base.html" %}

{% block title %}Buscar Turnos{% endblock %}

{% block content %}

<h2>Buscar Turnos</h2>

<form method="GET" action="">
    <div class="mb-3">
        <label>Nombre del paciente</label>
        <input type="text" name="nombre" class="form-control">
    </div>

    <div class="mb-3">
        <label>Fecha</label>
        <input type="date" name="fecha" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

{% endblock %}